# Soru1: Tüm verileri göster

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
rental_df = pd.read_sql_query("SELECT * FROM Rental",conn)
rental_df

# Soru2:  Her filmdeki oyuncuları listele

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film",conn)
actor_df = pd.read_sql_query("SELECT * FROM actor",conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor",conn)

In [ ]:
merge_df = pd.merge(film_df,film_actor_df, on='film_id')
merge_df = pd.merge(actor_df,merge_df, on='actor_id')

In [ ]:
result_df = merge_df[['title','first_name','last_name']]
result_df

# Soru3: Her filmde kaç oyuncu oynadı?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film",conn)
actor_df = pd.read_sql_query("SELECT * FROM actor",conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor",conn)

In [ ]:
merge_df = pd.merge(film_df,film_actor_df, on='film_id')
merge_df = pd.merge(actor_df,merge_df, on='actor_id')

In [ ]:
film_count_df = merge_df.groupby('title').agg(actor_count =('actor_id','count'))
film_count_df

# Soru 4: Her oyuncu kaç filmde oynadı?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film",conn)
actor_df = pd.read_sql_query("SELECT * FROM actor",conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor",conn)

In [ ]:
merge_df = pd.merge(film_df,film_actor_df, on='film_id')
merge_df = pd.merge(actor_df,merge_df, on='actor_id')

In [ ]:
movie_count_df = merge_df.groupby(['first_name','last_name']).agg(movie_count=("film_id","count"))
movie_count_df

# Soru 5: Envanterde olmayan filmler var mı ve varsa kaç tane?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film",conn)
inventory_df = pd.read_sql_query("Select * FROM inventory",conn)

In [ ]:
inventory_df_unique = inventory_df["film_id"].unique()

In [ ]:
not_in_inventory_df = film_df[~film_df["film_id"].isin(inventory_df_unique)]

In [ ]:
not_in_inventory_df_count = not_in_inventory_df.shape[0]

In [ ]:
not_in_inventory_df_count

# Soru 6: Kiralanabilir olan her filmin kaç kez kiralandığını ve toplam gelirlerini getirin

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film",conn)
inventory_df = pd.read_sql_query("Select * FROM inventory",conn)
rental_df = pd.read_sql_query("SELECT * FROM rental",conn)
payment_df = pd.read_sql_query("SELECT * FROM payment",conn)

In [ ]:
payment_df = payment_df.drop(columns=["last_update"])

In [ ]:
film_inventory_df = pd.merge(film_df, inventory_df, on= "film_id")
film_inventory_rental_df = pd.merge(film_inventory_df, rental_df, on= "inventory_id")
full_df = pd.merge(film_inventory_rental_df, payment_df, on= "rental_id")

In [ ]:
film_stats_df = full_df.groupby("title").agg(rental_count =("rental_id","count"),total_amount = ("amount","sum"))
film_stats_df

# Soru 7: Envanterde olmayan filmlerin kira oranlarını getirin

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film",conn)
inventory_df = pd.read_sql_query("Select * FROM inventory",conn)

In [ ]:
inventory_df_unique = inventory_df["film_id"].unique()

In [ ]:
not_in_inventory_df = film_df[~film_df["film_id"].isin(inventory_df_unique)]

In [ ]:
result_df = not_in_inventory_df[["title","rental_rate"]]
result_df

# Soru 8: Birden fazla DVD'yi iade etmeyen kaç müşteri var?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
rental_df = pd.read_sql_query("SELECT * FROM rental",conn)

In [ ]:
not_returned = rental_df[rental_df["return_date"].isna()]

In [ ]:
grouped = not_returned.groupby("customer_id").agg(rental_count=("rental_id", "count")).reset_index()
multiple_unreturned = grouped[grouped["rental_count"] > 1]

In [ ]:
customer_count = multiple_unreturned["customer_id"].nunique()
print(f"Birden fazla DVD'yi iade etmeyen müşteri sayısı: {customer_count}")

# Soru 9: Her müşteri kaç film kiraladı?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
merge_df = pd.merge(customer_df, rental_df, on="customer_id")

In [ ]:
rental_count_df = merge_df.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"))
rental_count_df

# Soru 10: Türlerine göre en çok kiralanan filmler ve bunlara ne kadar ödendi?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
payment_df = payment_df.drop(columns=["last_update"])

In [ ]:
cat_filmcat = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcat, film_df, on="film_id")
cat_film_inv = pd.merge(cat_film, inventory_df, on="film_id")
cat_film_inv_rental = pd.merge(cat_film_inv, rental_df, on="inventory_id")
full_df = pd.merge(cat_film_inv_rental, payment_df, on="rental_id")

In [ ]:
result_df = full_df.groupby(["name", "title"]).agg(rental_count=("rental_id", "count"),total_revenue=("amount", "sum"))
result_df

# Soru 11: Tür ve Tarihe Göre Kiralama Sayısı ve Gelir

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
payment_df = payment_df.drop(columns=["last_update"])

In [ ]:
cat_filmcat = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcat, film_df, on="film_id")
cat_film_inv = pd.merge(cat_film, inventory_df, on="film_id")
cat_film_inv_rental = pd.merge(cat_film_inv, rental_df, on="inventory_id")
full_df = pd.merge(cat_film_inv_rental, payment_df, on="rental_id")

In [ ]:
full_df["rental_date"] = pd.to_datetime(full_df["rental_date"]).dt.date

In [ ]:
grouped_df = full_df.groupby(["name", "rental_date"]).agg(rental_count=("rental_id", "count"),total_revenue=("amount", "sum"))

In [ ]:
grouped_df

# Soru 12: Kiralanabilir Filmler İçin Türlerine Göre Her Filmin Kaç Kez Kiralandığı

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
category_df = category_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
cat_filmcat = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcat, film_df, on="film_id")
cat_film_inv = pd.merge(cat_film, inventory_df, on="film_id")
full_df = pd.merge(cat_film_inv, rental_df, on="inventory_id")

In [ ]:
rental_counts_df = full_df.groupby(["name", "title"]).agg(rental_count=("rental_id", "count"))

In [ ]:
rental_counts_df

# Soru 13: En çok rafta bekleyen filmler

In [ ]:
import sqlite3
import pandas as pd
from datetime import datetime
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
film_inventory = pd.merge(film_df, inventory_df, on="film_id")
film_inventory_rental = pd.merge(film_inventory, rental_df, on="inventory_id")

In [ ]:
not_returned = film_inventory_rental[film_inventory_rental["return_date"].isna()].copy()

In [ ]:
not_returned["rental_date"] = pd.to_datetime(not_returned["rental_date"])
today = pd.to_datetime(datetime.now().date())
not_returned["days_on_shelf"] = (today - not_returned["rental_date"]).dt.days

In [ ]:
result_df = not_returned[["title", "days_on_shelf"]].sort_values("days_on_shelf", ascending=False)

In [ ]:
result_df

# Soru 14: Geç, Erken ve Zamanında İade Edilen Kiralanmış Filmler

In [ ]:
import sqlite3
import pandas as pd
from datetime import datetime
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [ ]:
inv_film = pd.merge(inventory_df, film_df, on="film_id")
full_df = pd.merge(rental_df, inv_film, on="inventory_id")

In [ ]:
full_df["rental_date"] = pd.to_datetime(full_df["rental_date"])
full_df["return_date"] = pd.to_datetime(full_df["return_date"])

In [ ]:
full_df["expected_return"] = full_df["rental_date"] + pd.to_timedelta(full_df["rental_duration"], unit="D")

In [ ]:
return_date = full_df["return_date"].dt.date
expected_date = full_df["expected_return"].dt.date

In [ ]:
late_returns = (return_date > expected_date).sum()
early_returns = (return_date < expected_date).sum()
on_time_returns = (return_date == expected_date).sum()

In [ ]:
print("Geç iade edilenler:", late_returns)
print("Erken iade edilenler:", early_returns)
print("Tam zamanında iade edilenler:", on_time_returns)

# Soru 15: Hangi müşteri en çok DVD kiralamış?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
cust_rent = pd.merge(customer_df, rental_df, on="customer_id")

In [ ]:
rental_counts = cust_rent.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"))

In [ ]:
rental_counts_sorted = rental_counts.sort_values("rental_count", ascending=False)
rental_counts_sorted

# Soru 16: En popüler film kategorisi nedir?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
category_df = category_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
cat_filmcat = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcat, film_df, on="film_id")
cat_film_inv = pd.merge(cat_film, inventory_df, on="film_id")
cat_film_inv_rental = pd.merge(cat_film_inv, rental_df, on="inventory_id")

In [ ]:
rental_counts = cat_film_inv_rental.groupby("name").agg(rental_count=("rental_id", "count"))

In [ ]:
most_rented_category = rental_counts.sort_values("rental_count", ascending=False).head(1)
most_rented_category

# Soru 17: Hangi çalışan en çok kiralama işlemi gerçekleştirmiş?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
staff_rental = pd.merge(staff_df, rental_df, on="staff_id")

In [ ]:
rental_counts = staff_rental.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"))

In [ ]:
most_active_staff = rental_counts.sort_values("rental_count", ascending=False).head(1)
most_active_staff

# Soru 18: En çok geliri hangi film getirmiş?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
film_inventory = pd.merge(film_df, inventory_df, on="film_id")
film_inventory_rental = pd.merge(film_inventory, rental_df, on="inventory_id")
full_df = pd.merge(film_inventory_rental, payment_df, on="rental_id")

In [ ]:
revenue_per_film = full_df.groupby("title").agg(total_revenue=("amount", "sum"))

In [ ]:
most_profitable_film = revenue_per_film.sort_values("total_revenue", ascending=False).head(1)
most_profitable_film

# Soru 19: Her müşteri için toplam harcama miktarını bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
cust_rental = pd.merge(customer_df, rental_df, on="customer_id")
cust_rental_payment = pd.merge(cust_rental, payment_df, on="rental_id")

In [ ]:
total_spent_per_customer = cust_rental_payment.groupby(["first_name", "last_name"]).agg(total_spent=("amount", "sum")).reset_index()

In [ ]:
total_spent_per_customer

# Soru 20: Her kategorideki toplam kiralama sayısını ve gelirleri bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
cat_filmcat = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcat, film_df, on="film_id")
cat_film_inv = pd.merge(cat_film, inventory_df, on="film_id")
cat_film_inv_rental = pd.merge(cat_film_inv, rental_df, on="inventory_id")
full_df = pd.merge(cat_film_inv_rental, payment_df, on="rental_id")

In [ ]:
result = full_df.groupby("name").agg(rental_count=("rental_id", "count"),total_revenue=("amount", "sum"))

In [ ]:
result

# Soru 21: En uzun süre kirada kalmış filmleri bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
film_inv = pd.merge(film_df, inventory_df, on="film_id")
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [ ]:
film_rental["rental_date"] = pd.to_datetime(film_rental["rental_date"])
film_rental["return_date"] = pd.to_datetime(film_rental["return_date"])

In [ ]:
returned = film_rental[film_rental["return_date"].notna()]

In [ ]:
returned["rental_duration"] = (returned["return_date"] - returned["rental_date"]).dt.days

In [ ]:
max_durations = returned.groupby("title").agg(max_rental_duration=("rental_duration", "max"))

In [ ]:
longest_rented = max_durations.sort_values("max_rental_duration", ascending=False)
longest_rented

# Soru 22: En az kiralanan 5 film hangileridir?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
film_inv = pd.merge(film_df, inventory_df, on="film_id")
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [ ]:
rental_counts = film_rental.groupby("title").agg(rental_count=("rental_id", "count"))

In [ ]:
least_rented = rental_counts.sort_values("rental_count", ascending=True).head(5)
least_rented

# Soru 24: En fazla kazanç sağlayan 5 müşteriyi bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
cust_rental = pd.merge(customer_df, rental_df, on="customer_id")
cust_rental_payment = pd.merge(cust_rental, payment_df, on="rental_id")

In [ ]:
top_customers = cust_rental_payment.groupby(["first_name", "last_name"]).agg(total_spent=("amount", "sum"))

In [ ]:
top_5 = top_customers.sort_values("total_spent", ascending=False).head(5)
top_5

# Soru 25: Her filmin ortalama kiralanma süresini bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
film_inv = pd.merge(film_df, inventory_df, on="film_id")
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [ ]:
returned["rental_date"] = pd.to_datetime(returned["rental_date"])
returned["return_date"] = pd.to_datetime(returned["return_date"])

In [ ]:
returned["rental_duration"] = (returned["return_date"] - returned["rental_date"]).dt.days

In [ ]:
avg_duration = returned.groupby("title").agg(avg_rental_duration=("rental_duration", "mean"))
avg_duration

# Soru 26: Her türde en popüler filmi bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
cat_filmcats = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcats, film_df, on="film_id")
cat_inv = pd.merge(cat_film, inventory_df, on="film_id")
cat_film_rental = pd.merge(cat_inv, rental_df, on="inventory_id")

In [ ]:
print(cat_film_rental.columns)

In [ ]:
grouped = cat_film_rental.groupby(["name", "title"]).agg(rental_count=("rental_id", "count")).reset_index()

In [ ]:
print(grouped.columns)

In [ ]:
top_film_per_genre = grouped.sort_values(["name", "rental_count"], ascending=[True, False]) \
.drop_duplicates(subset="name", keep="first") \
.rename(columns={"name": "genre"})
top_film_per_genre

# Soru 27: Her türde en fazla gelir sağlayan filmi bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")
full_df = pd.merge(step4, payment_df, on="rental_id")

In [ ]:
grouped = full_df.groupby(["name", "title"]).agg(total_revenue=("amount", "sum")).reset_index()

In [ ]:
top_revenue_per_genre = grouped.sort_values(["name", "total_revenue"], ascending=[True, False]) \
.drop_duplicates(subset="name", keep="first") \
.rename(columns={"name": "genre"})
top_revenue_per_genre

# Soru 28: En çok DVD iade etmeyen müşteriyi bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
merged = pd.merge(customer_df, rental_df, on="customer_id")

In [ ]:
not_returned = merged[merged["return_date"].isna()]

In [ ]:
unreturned_counts = not_returned.groupby(["first_name", "last_name"]).agg(unreturned_count=("rental_id", "count"))

In [ ]:
top_customer = unreturned_counts.sort_values("unreturned_count", ascending=False).head(1)
top_customer

# Soru 29: En fazla kiralama yapan 5 çalışanı bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)

In [ ]:
merged = pd.merge(staff_df, rental_df, on="staff_id")

In [ ]:
rental_counts = merged.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"))

In [ ]:
top_staff = rental_counts.sort_values("rental_count", ascending=False).head(5)
top_staff

# Soru 30: En fazla kiralama yapan 5 müşteri hangi şubeden kiralama yapmış?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT inventory_id, store_id FROM inventory", conn)
store_df = pd.read_sql_query("SELECT * FROM store", conn)

In [ ]:
customer_df = customer_df.drop(columns=["store_id"])

In [ ]:
merged1 = pd.merge(customer_df, rental_df, on="customer_id")
merged2 = pd.merge(merged1, inventory_df, on="inventory_id")
merged3 = pd.merge(merged2, store_df, on="store_id")

In [ ]:
top_customers = (merged3.groupby(["first_name", "last_name", "store_id"]).agg(rental_count=("rental_id", "count"))
.reset_index().sort_values("rental_count", ascending=False).head(5))
top_customers

# Soru 31: Her türde en az kiralanan filmi bulun

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
cat_filmcat = pd.merge(category_df, film_category_df, on="category_id")
cat_film = pd.merge(cat_filmcat, film_df, on="film_id")
cat_film_inv = pd.merge(cat_film, inventory_df, on="film_id")
cat_film_rental = pd.merge(cat_film_inv, rental_df, on="inventory_id")

In [ ]:
grouped = cat_film_rental.groupby(["name", "title"]).agg(rental_count=("rental_id", "count")).reset_index()

In [ ]:
least_rented = grouped.sort_values(["name", "rental_count"], ascending=[True, True]) \
.drop_duplicates(subset="name", keep="first") \
.rename(columns={"name": "genre"})

In [ ]:
print(least_rented[["genre", "title", "rental_count"]])

# Soru 32: En çok kiralama yapan 5 müşteri hangi şehirde?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
address_df = pd.read_sql_query("SELECT * FROM address", conn)
city_df = pd.read_sql_query("SELECT * FROM city", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
address_df = address_df.drop(columns=["last_update"])
city_df = city_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [ ]:
cust_addr = pd.merge(customer_df, address_df, on="address_id")
cust_addr_city = pd.merge(cust_addr, city_df, on="city_id")
cust_addr_city_rental = pd.merge(cust_addr_city, rental_df, on="customer_id")

In [ ]:
grouped = cust_addr_city_rental.groupby(["first_name", "last_name", "city"]).agg(rental_count=("rental_id", "count"))
top_customers = grouped.sort_values("rental_count", ascending=False).head(5)
top_customers

# Soru 33: En çok kazanç sağlayan 5 müşteriyi hangi şehirde bulun?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
address_df = pd.read_sql_query("SELECT * FROM address", conn)
city_df = pd.read_sql_query("SELECT * FROM city", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
address_df = address_df.drop(columns=["last_update"])
city_df = city_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
payment_df = payment_df.drop(columns=["last_update"])

In [ ]:
cust_addr = pd.merge(customer_df, address_df, on="address_id")
cust_addr_city = pd.merge(cust_addr, city_df, on="city_id")
cust_rental = pd.merge(cust_addr_city, rental_df, on="customer_id")
full_df = pd.merge(cust_rental, payment_df, on="rental_id")

In [ ]:
grouped = full_df.groupby(["first_name", "last_name", "city"]).agg(total_spent=("amount", "sum"))
top_spenders = grouped.sort_values("total_spent", ascending=False).head(5)

In [ ]:
top_spenders

# Soru 34: En çok kiralanan 5 filmi hangi şehirde bulun?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
city_df = pd.read_sql_query("SELECT * FROM city", conn)
address_df = pd.read_sql_query("SELECT * FROM address", conn)
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
address_df = address_df.drop(columns=["last_update"])
city_df = city_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])

In [ ]:
step1 = pd.merge(city_df, address_df, on="city_id")
step2 = pd.merge(step1, customer_df, on="address_id")
step3 = pd.merge(step2, rental_df, on="customer_id")
step4 = pd.merge(step3, inventory_df, on="inventory_id")
full_df = pd.merge(step4, film_df, on="film_id")

In [ ]:
grouped = full_df.groupby(["city", "title"]).agg(rental_count=("rental_id", "count"))
top5 = grouped.sort_values("rental_count", ascending=False).head(5)

In [ ]:
top5

# Soru 35: En az kiralanan 5 filmi hangi şehirde bulun?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
city_df = pd.read_sql_query("SELECT * FROM city", conn)
address_df = pd.read_sql_query("SELECT * FROM address", conn)
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
address_df = address_df.drop(columns=["last_update"])
city_df = city_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])

In [ ]:
step1 = pd.merge(city_df, address_df, on="city_id")
step2 = pd.merge(step1, customer_df, on="address_id")
step3 = pd.merge(step2, rental_df, on="customer_id")
step4 = pd.merge(step3, inventory_df, on="inventory_id")
full_df = pd.merge(step4, film_df, on="film_id")

In [ ]:
grouped = full_df.groupby(["city", "title"]).agg(rental_count=("rental_id", "count"))
least5 = grouped.sort_values("rental_count", ascending=True).head(5)

In [ ]:
least5

# Soru 36: En çok kazanç sağlayan 5 filmi hangi şehirde bulun?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
city_df = pd.read_sql_query("SELECT * FROM city", conn)
address_df = pd.read_sql_query("SELECT * FROM address", conn)
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
address_df = address_df.drop(columns=["last_update"])
city_df = city_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])

In [ ]:
step1 = pd.merge(city_df, address_df, on="city_id")
step2 = pd.merge(step1, customer_df, on="address_id")
step3 = pd.merge(step2, rental_df, on="customer_id")
step4 = pd.merge(step3, inventory_df, on="inventory_id")
step5 = pd.merge(step4, film_df, on="film_id")
full_df = pd.merge(step5, payment_df, on="rental_id")

In [ ]:
grouped = full_df.groupby(["city", "title"]).agg(total_revenue=("amount", "sum"))

In [ ]:
top5_revenue = grouped.sort_values("total_revenue", ascending=False).head(5)
top5_revenue

# Soru 37: En az kazanç sağlayan 5 filmi hangi şehirde bulun?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
city_df = pd.read_sql_query("SELECT * FROM city", conn)
address_df = pd.read_sql_query("SELECT * FROM address", conn)
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
address_df = address_df.drop(columns=["last_update"])
city_df = city_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])

In [ ]:
step1 = pd.merge(city_df, address_df, on="city_id")
step2 = pd.merge(step1, customer_df, on="address_id")
step3 = pd.merge(step2, rental_df, on="customer_id")
step4 = pd.merge(step3, inventory_df, on="inventory_id")
step5 = pd.merge(step4, film_df, on="film_id")
full_df = pd.merge(step5, payment_df, on="rental_id")

In [ ]:
grouped = full_df.groupby(["city", "title"]).agg(total_revenue=("amount", "sum"))

In [ ]:
top5_revenue = grouped.sort_values("total_revenue", ascending=True).head(5)
top5_revenue

# Soru 38: En fazla kiralama yapan müşteri hangi filmleri kiralamış?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)

In [ ]:
customer_df = customer_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
category_df = category_df.drop(columns=["last_update"])

In [ ]:
top_customer_id = rental_df["customer_id"].value_counts().idxmax()

In [ ]:
step1 = pd.merge(rental_df, customer_df, on="customer_id")
step2 = pd.merge(step1, inventory_df, on="inventory_id")
step3 = pd.merge(step2, film_df, on="film_id")
step4 = pd.merge(step3, film_category_df, on="film_id")
full_df = pd.merge(step4, category_df, on="category_id")

In [ ]:
top_customer_df = full_df[full_df["customer_id"] == top_customer_id]

In [ ]:
result = top_customer_df.groupby(["first_name", "last_name", "name"]).agg(    rental_count=("rental_id", "count")
).reset_index().rename(columns={"name": "genre"})
result

# Soru 40: En çok kazanç sağlayan müşteri hangi filmleri kiralamış?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
step1 = pd.merge(customer_df[["customer_id", "first_name", "last_name"]], rental_df, on="customer_id")
step2 = pd.merge(step1, inventory_df, on="inventory_id")
step3 = pd.merge(step2, film_df, on="film_id")
full_df = pd.merge(step3, payment_df[["rental_id", "amount"]], on="rental_id")

In [ ]:
print(full_df.columns)

In [ ]:
top_customer_id = full_df.groupby("customer_id")["amount"].sum().idxmax()

In [ ]:
top_customer_df = full_df[full_df["customer_id"] == top_customer_id]

In [ ]:
print(top_customer_df.columns.tolist())

In [ ]:
result = top_customer_df.groupby(["first_name", "last_name", "title"]).agg(total_spent=("amount", "sum")).reset_index().sort_values("total_spent", ascending=False)
result

# Soru 41: En az kazanç sağlayan müşteri hangi filmleri kiralamış?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [ ]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [ ]:
step1 = pd.merge(customer_df[["customer_id", "first_name", "last_name"]], rental_df, on="customer_id")
step2 = pd.merge(step1, inventory_df, on="inventory_id")
step3 = pd.merge(step2, film_df, on="film_id")
full_df = pd.merge(step3, payment_df[["rental_id", "amount"]], on="rental_id")

In [ ]:
top_customer_id = full_df.groupby("customer_id")["amount"].sum().idxmin()

In [ ]:
top_customer_df = full_df[full_df["customer_id"] == top_customer_id]

In [ ]:
result = top_customer_df.groupby(["first_name", "last_name", "title"]).agg(total_spent=("amount", "sum")).reset_index().sort_values("total_spent", ascending=False)
result

# Soru 42: En az kazanç sağlayan müşteri hangi türde en fazla film kiralamış?

In [154]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [155]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("Select * FROM category",conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [156]:
customer_df = customer_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
category_df = category_df.drop(columns=["last_update"])
payment_df = payment_df.drop(columns=["last_update"])

In [157]:
step1 = pd.merge(customer_df, rental_df, on="customer_id")
step2 = pd.merge(step1, payment_df, on="rental_id")
step3 = pd.merge(step2, inventory_df, on="inventory_id")
step4 = pd.merge(step3, film_df, on="film_id")
step5 = pd.merge(step4, film_category_df, on="film_id")
full_df = pd.merge(step5, category_df, on="category_id")

In [158]:
full_df = full_df.rename(columns={"customer_id_x": "customer_id", "name": "genre"})
rental_payment = rental_payment.rename(columns={"customer_id_x": "customer_id"})

In [159]:
customer_total = rental_payment.groupby("customer_id")["amount"].sum().reset_index()
least_customer_id = customer_total.sort_values("amount").iloc[0]["customer_id"]

In [160]:
full_df = full_df.loc[:, ~full_df.columns.duplicated()]

In [161]:
filtered = full_df[full_df["customer_id"] == least_customer_id]

In [163]:
result_df = (filtered.groupby(["first_name", "last_name", "genre"])  
.size().reset_index(name="rental_count").rename(columns={"name": "genre"}))

In [ ]:
result_df

# Soru 43: En çok kiralanan film hangi çalışan tarafından kiralanmış?

In [72]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [73]:
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [74]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")

In [75]:
top_film = (rental_film.groupby(["film_id", "title"]).agg(rental_count=('rental_id', 'count')).reset_index()
.sort_values("rental_count", ascending=False))

In [76]:
top_film_id = top_film.iloc[0]["film_id"]
top_film_title = top_film.iloc[0]["title"]

In [77]:
top_film_rentals = rental_film[rental_film["film_id"] == top_film_id]
rental_with_staff = pd.merge(top_film_rentals, staff_df, on="staff_id")

In [78]:
result_df = (rental_with_staff.groupby(["first_name", "last_name", "title"]).agg(rental_count=('rental_id', 'count'))
.reset_index())

In [ ]:
result_df

# Soru 44: En az kiralanan film hangi çalışan tarafından kiralanmış?

In [80]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [81]:
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [82]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")

In [83]:
top_film = (rental_film.groupby(["film_id", "title"]).agg(rental_count=('rental_id', 'count')).reset_index()
.sort_values("rental_count", ascending=True))

In [84]:
top_film_id = top_film.iloc[0]["film_id"]
top_film_title = top_film.iloc[0]["title"]

In [85]:
top_film_rentals = rental_film[rental_film["film_id"] == top_film_id]
rental_with_staff = pd.merge(top_film_rentals, staff_df, on="staff_id")

In [ ]:
result_df = (rental_with_staff.groupby(["first_name", "last_name", "title"]).agg(rental_count=('rental_id', 'count')).reset_index())
result_df

# Soru 45: En çok kazanç sağlayan film hangi çalışan tarafından kiralanmış?

In [182]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [183]:
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [184]:
staff_df = staff_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])

In [185]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")
rental_payment = pd.merge(rental_film, payment_df, on="rental_id")

In [186]:
film_revenue = (rental_payment.groupby(["film_id", "title"]).agg(total_revenue=('amount', 'sum')).reset_index()
.sort_values("total_revenue", ascending=False))

In [187]:
top_film_id = film_revenue.iloc[0]["film_id"]

In [188]:
top_film_rentals = rental_payment[rental_payment["film_id"] == top_film_id]

In [189]:
top_film_rentals = top_film_rentals.rename(columns={"staff_id_x": "staff_id"})

In [ ]:
print(top_film_rentals.columns)

In [191]:
rental_with_staff = pd.merge(top_film_rentals, staff_df, on="staff_id")

In [192]:
result_df = (rental_with_staff.groupby(["first_name", "last_name", "title"]).agg(total_revenue=('amount', 'sum'))
.reset_index())

In [ ]:
result_df

# Soru 46: En az kazanç sağlayan film hangi çalışan tarafından kiralanmış?

In [237]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [238]:
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [239]:
staff_df = staff_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [240]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")
rental_payment = pd.merge(rental_film, payment_df, on="rental_id")

In [241]:
film_revenue = (rental_payment.groupby(["film_id", "title"]).agg(total_revenue=('amount', 'sum')).reset_index()
.sort_values("total_revenue", ascending=True))

In [242]:
top_film_id = film_revenue.iloc[0]["film_id"]

In [243]:
top_film_rentals = rental_payment[rental_payment["film_id"] == top_film_id]
top_film_rentals = top_film_rentals.rename(columns={"staff_id_x": "staff_id"})

In [244]:
rental_with_staff = pd.merge(top_film_rentals, staff_df, on="staff_id")

In [245]:
result_df = (rental_with_staff.groupby(["first_name", "last_name", "title"]).agg(total_revenue=('amount', 'sum')).reset_index())

In [ ]:
result_df

# Soru 47: En çok kiralanan film hangi mağazada kiralanmış?

In [221]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [222]:
store_df = pd.read_sql_query("Select * FROM store",conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [223]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")

In [224]:
top_film = (rental_film.groupby(["film_id", "title"]).agg(rental_count=('rental_id', 'count'))
.reset_index().sort_values("rental_count", ascending=False))

In [231]:
top_film_id = top_film.iloc[0]["film_id"]

In [226]:
rental_staff = pd.merge(rental_df, staff_df[["staff_id", "store_id"]], on="staff_id")

In [232]:
rental_inv = pd.merge(rental_staff, inventory_df, on="inventory_id")
rental_film_full = pd.merge(rental_inv, film_df[["film_id", "title"]], on="film_id")

In [233]:
if "store_id_x" in rental_film_full.columns:
    rental_film_full = rental_film_full.rename(columns={"store_id_x": "store_id"})

In [234]:
filtered_df = rental_film_full[rental_film_full["film_id"] == top_film_id]

In [235]:
print(result_df.columns)

Index(['first_name', 'last_name', 'title', 'total_revenue'], dtype='object')

In [ ]:
result_df = (filtered_df.groupby(["store_id", "title"])
.agg(rental_count=('rental_id', 'count')).reset_index())
result_df

# Soru 48: En az kiralanan film hangi mağazada kiralanmış?

In [251]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [252]:
store_df = pd.read_sql_query("Select * FROM store",conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)

In [253]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")

In [254]:
top_film = (rental_film.groupby(["film_id", "title"]).agg(rental_count=('rental_id', 'count'))
.reset_index().sort_values("rental_count", ascending=True))

In [255]:
top_film_id = top_film.iloc[0]["film_id"]

In [256]:
rental_staff = pd.merge(rental_df, staff_df[["staff_id", "store_id"]], on="staff_id")

In [257]:
rental_inv = pd.merge(rental_staff, inventory_df, on="inventory_id")
rental_film_full = pd.merge(rental_inv, film_df[["film_id", "title"]], on="film_id")

In [258]:
if "store_id_x" in rental_film_full.columns:
    rental_film_full = rental_film_full.rename(columns={"store_id_x": "store_id"})

In [259]:
filtered_df = rental_film_full[rental_film_full["film_id"] == top_film_id]

In [ ]:
result_df = (filtered_df.groupby(["store_id", "title"])
.agg(rental_count=('rental_id', 'count')).reset_index())
result_df

# Soru 49: En çok kazanç sağlayan film hangi mağazada kiralanmış?

In [261]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [267]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [268]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")
rental_payment = pd.merge(rental_film, payment_df, on="rental_id")

In [269]:
film_revenue = (rental_payment.groupby(["film_id", "title"]).agg(total_revenue=('amount', 'sum')).reset_index()
.sort_values("total_revenue", ascending=False))

In [270]:
top_film_id = film_revenue.iloc[0]["film_id"]

In [271]:
rental_staff = pd.merge(rental_df, staff_df[["staff_id", "store_id"]], on="staff_id")

In [272]:
rental_inv = pd.merge(rental_staff, inventory_df, on="inventory_id")
rental_film_full = pd.merge(rental_inv, film_df[["film_id", "title"]], on="film_id")
rental_with_payment = pd.merge(rental_film_full, payment_df, on="rental_id")

In [273]:
if "store_id_x" in rental_with_payment.columns:
    rental_with_payment = rental_with_payment.rename(columns={"store_id_x": "store_id"})

In [274]:
filtered_df = rental_with_payment[rental_with_payment["film_id"] == top_film_id]

In [ ]:
result_df = (filtered_df.groupby(["store_id", "title"]).agg(total_revenue=('amount', 'sum')).reset_index())
result_df

# Soru 50: En az kazanç sağlayan film hangi mağazada kiralanmış?

In [277]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [278]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [279]:
rental_inventory = pd.merge(rental_df, inventory_df, on="inventory_id")
rental_film = pd.merge(rental_inventory, film_df[["film_id", "title"]], on="film_id")
rental_payment = pd.merge(rental_film, payment_df, on="rental_id")

In [280]:
film_revenue = (rental_payment.groupby(["film_id", "title"]).agg(total_revenue=('amount', 'sum')).reset_index()
.sort_values("total_revenue", ascending=True))

In [281]:
top_film_id = film_revenue.iloc[0]["film_id"]

In [282]:
rental_staff = pd.merge(rental_df, staff_df[["staff_id", "store_id"]], on="staff_id")

In [283]:
rental_inv = pd.merge(rental_staff, inventory_df, on="inventory_id")
rental_film_full = pd.merge(rental_inv, film_df[["film_id", "title"]], on="film_id")
rental_with_payment = pd.merge(rental_film_full, payment_df, on="rental_id")

In [284]:
if "store_id_x" in rental_with_payment.columns:
    rental_with_payment = rental_with_payment.rename(columns={"store_id_x": "store_id"})

In [285]:
filtered_df = rental_with_payment[rental_with_payment["film_id"] == top_film_id]

In [ ]:
result_df = (filtered_df.groupby(["store_id", "title"]).agg(total_revenue=('amount', 'sum')).reset_index())
result_df

# Soru 51: Müşterilerin kiraladıkları filmlerin toplam kiralama süresi ne kadar?

In [287]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [288]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [289]:
rental_df["rental_date"] = pd.to_datetime(rental_df["rental_date"])
rental_df["return_date"] = pd.to_datetime(rental_df["return_date"])

In [290]:
rental_customer = pd.merge(rental_df, customer_df[["customer_id", "first_name", "last_name"]], on="customer_id")

In [291]:
rental_customer["rental_duration"] = (rental_customer["return_date"] - rental_customer["rental_date"]).dt.days

In [292]:
result_df = (rental_customer.groupby(["first_name", "last_name"])
.agg(total_rental_duration=("rental_duration", "sum")).reset_index())

In [ ]:
result_df["total_rental_duration"] = result_df["total_rental_duration"].round()
result_df

# Soru 52: En çok kiralanan türdeki filmler hangileri?

In [305]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [306]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [307]:
film_cat = pd.merge(film_df[["film_id", "title"]], film_category_df, on="film_id")
film_cat_genre = pd.merge(film_cat, category_df[["category_id", "name"]], on="category_id")
film_inventory = pd.merge(film_cat_genre, inventory_df, on="film_id")
film_rental = pd.merge(film_inventory, rental_df, on="inventory_id")

In [308]:
result_df = (film_rental.groupby(["name", "title"]).agg(rental_count=("rental_id", "count"))
.reset_index().rename(columns={"name": "genre"})
.sort_values("rental_count", ascending=False).head(1))

In [ ]:
result_df

# Soru 53: En az kiralanan türdeki filmler hangileri?

In [310]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [311]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [312]:
film_cat = pd.merge(film_df[["film_id", "title"]], film_category_df, on="film_id")
film_cat_genre = pd.merge(film_cat, category_df[["category_id", "name"]], on="category_id")
film_inventory = pd.merge(film_cat_genre, inventory_df, on="film_id")
film_rental = pd.merge(film_inventory, rental_df, on="inventory_id")

In [313]:
result_df = (film_rental.groupby(["name", "title"]).agg(rental_count=("rental_id", "count"))
.reset_index().rename(columns={"name": "genre"}).sort_values("rental_count", ascending=True).head(1))

In [ ]:
result_df

# Soru 54: Her müşteri için toplam ödeme miktarını bulun.

In [315]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [316]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [317]:
rental_payment = pd.merge(rental_df, payment_df, on="rental_id")

In [320]:
rental_payment = rental_payment.rename(columns={"customer_id_x": "customer_id"})

In [ ]:
print(rental_payment.columns)

In [322]:
full_df = pd.merge(rental_payment, customer_df[["customer_id", "first_name", "last_name"]], on="customer_id")

In [323]:
result_df = (full_df.groupby(["first_name", "last_name"])
.agg(total_payment=("amount", "sum")).reset_index())

In [ ]:
result_df

# Soru 55: Hangi filmler en uzun süre kiralanmış?

In [333]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [334]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [335]:
film_inv = pd.merge(film_df[["film_id", "title"]], inventory_df, on="film_id")

In [336]:
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [337]:
film_rental["rental_date"] = pd.to_datetime(film_rental["rental_date"])
film_rental["return_date"] = pd.to_datetime(film_rental["return_date"])

In [338]:
film_rental["rental_days"] = (film_rental["return_date"] - film_rental["rental_date"]).dt.days

In [339]:
result_df = (film_rental.groupby("title").agg(max_rental_days=("rental_days", "max")).reset_index()
.sort_values("max_rental_days", ascending=False))

In [ ]:
result_df

# Soru 56: Hangi filmler en kısa süre kiralanmış?

In [341]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [342]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [343]:
film_inv = pd.merge(film_df[["film_id", "title"]], inventory_df, on="film_id")

In [344]:
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [345]:
film_rental["rental_date"] = pd.to_datetime(film_rental["rental_date"])
film_rental["return_date"] = pd.to_datetime(film_rental["return_date"])

In [346]:
film_rental["rental_days"] = (film_rental["return_date"] - film_rental["rental_date"]).dt.days

In [347]:
result_df = (film_rental.groupby("title").agg(max_rental_days=("rental_days", "max")).reset_index()
.sort_values("max_rental_days", ascending=True))

In [ ]:
result_df

# Soru 57: Müşterilerin kiraladığı filmler için ortalama ödeme miktarını bulun.

In [349]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [350]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [351]:
rental_payment = pd.merge(rental_df, payment_df, on="rental_id")

In [352]:
if "customer_id_x" in rental_payment.columns and "customer_id_y" in rental_payment.columns:
    rental_payment = rental_payment.rename(columns={"customer_id_x": "customer_id"})
    rental_payment = rental_payment.drop(columns=["customer_id_y"])

In [353]:
full_df = pd.merge(rental_payment, customer_df[["customer_id", "first_name", "last_name"]], on="customer_id")

In [354]:
result_df = (full_df.groupby(["first_name", "last_name"])
.agg(avg_payment=("amount", "mean")).reset_index())

In [ ]:
result_df["avg_payment"] = result_df["avg_payment"].round(2)
result_df

# Soru 58: En çok kiralanan filmlerin ortalama kiralama süresi nedir?

In [356]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [383]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [384]:
film_inv = pd.merge(film_df[["film_id", "title"]], inventory_df, on="film_id")

In [385]:
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [360]:
film_rental["rental_date"] = pd.to_datetime(film_rental["rental_date"])
film_rental["return_date"] = pd.to_datetime(film_rental["return_date"])

In [361]:
film_rental["rental_days"] = (film_rental["return_date"] - film_rental["rental_date"]).dt.days

In [368]:
result_df = (film_rental.groupby("title").agg(avg_rental_days=("rental_days", "mean"),rental_count=("rental_id", "count"))
.reset_index().sort_values("rental_count", ascending=False))

In [369]:
result_df["avg_rental_days"] = result_df["avg_rental_days"].round(2)

In [ ]:
result_df

# Soru 59: En az kiralanan filmlerin ortalama kiralama süresi nedir?

In [371]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [372]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [373]:
film_inv = pd.merge(film_df[["film_id", "title"]], inventory_df, on="film_id")

In [374]:
film_rental = pd.merge(film_inv, rental_df, on="inventory_id")

In [375]:
film_rental["rental_date"] = pd.to_datetime(film_rental["rental_date"])
film_rental["return_date"] = pd.to_datetime(film_rental["return_date"])

In [376]:
film_rental["rental_days"] = (film_rental["return_date"] - film_rental["rental_date"]).dt.days

In [377]:
result_df = (film_rental.groupby("title").agg(avg_rental_days=("rental_days", "mean"),rental_count=("rental_id", "count"))
.reset_index().sort_values("rental_count", ascending=True))

In [378]:
result_df["avg_rental_days"] = result_df["avg_rental_days"].round(2)

In [ ]:
result_df

# Soru 60: En çok kazanç sağlayan müşterilerin ortalama ödeme miktarı nedir?

In [386]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [387]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [388]:
rental_payment = pd.merge(rental_df, payment_df, on="rental_id")

In [389]:
if "customer_id_x" in rental_payment.columns and "customer_id_y" in rental_payment.columns:
    rental_payment = rental_payment.rename(columns={"customer_id_x": "customer_id"})
    rental_payment = rental_payment.drop(columns=["customer_id_y"])

In [390]:
full_df = pd.merge(rental_payment, customer_df[["customer_id", "first_name", "last_name"]], on="customer_id")

In [394]:
grouped_df = (full_df.groupby(["first_name", "last_name"]).agg(
total_payment=("amount", "sum"),avg_payment=("amount", "mean"))
.reset_index().sort_values("total_payment", ascending=False).head(10))

In [395]:
grouped_df["avg_payment"] = grouped_df["avg_payment"].round(2)

In [ ]:
result_df = grouped_df[["first_name", "last_name", "avg_payment"]]
result_df

# Soru 61: En az kazanç sağlayan müşterilerin ortalama ödeme miktarı nedir?

In [397]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [398]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [399]:
rental_payment = pd.merge(rental_df, payment_df, on="rental_id")

In [400]:
if "customer_id_x" in rental_payment.columns and "customer_id_y" in rental_payment.columns:
    rental_payment = rental_payment.rename(columns={"customer_id_x": "customer_id"})
    rental_payment = rental_payment.drop(columns=["customer_id_y"])

In [401]:
full_df = pd.merge(rental_payment, customer_df[["customer_id", "first_name", "last_name"]], on="customer_id")

In [402]:
grouped_df = (full_df.groupby(["first_name", "last_name"]).agg(
total_payment=("amount", "sum"),avg_payment=("amount", "mean"))
.reset_index().sort_values("total_payment", ascending=True).head(10))

In [403]:
grouped_df["avg_payment"] = grouped_df["avg_payment"].round(2)

In [ ]:
result_df = grouped_df[["first_name", "last_name", "avg_payment"]]
result_df

# Soru 62: Mağazalardaki toplam kiralama süresini bulun.

In [413]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [445]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [446]:
store_staff_df = pd.merge(store_df[["store_id"]], staff_df[["staff_id", "store_id"]], on="store_id")

In [447]:
staff_rental_df = pd.merge(store_staff_df, rental_df, on="staff_id")

In [448]:
staff_rental_df["rental_date"] = pd.to_datetime(staff_rental_df["rental_date"])
staff_rental_df["return_date"] = pd.to_datetime(staff_rental_df["return_date"])

In [449]:
staff_rental_df["rental_days"] = (staff_rental_df["return_date"] - staff_rental_df["rental_date"]).dt.days

In [450]:
valid_rentals = staff_rental_df.dropna(subset=["rental_days"])

In [451]:
result_df = (valid_rentals.groupby("store_id")
.agg(total_rental_days=("rental_days", "sum")).reset_index())

In [ ]:
result_df

# Soru 63: En uzun süre kiralanan film hangi mağazada kiralanmış?

In [454]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [455]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT film_id, title FROM film", conn)

In [456]:
step1 = pd.merge(staff_df, store_df, on="store_id")
step2 = pd.merge(rental_df, step1, on="staff_id")
step3 = pd.merge(step2, inventory_df[["inventory_id", "film_id"]], on="inventory_id")
full_df = pd.merge(step3, film_df, on="film_id")

In [457]:
full_df["rental_date"] = pd.to_datetime(full_df["rental_date"])
full_df["return_date"] = pd.to_datetime(full_df["return_date"])
full_df = full_df[full_df["return_date"].notna()]

In [458]:
full_df["rental_days"] = (full_df["return_date"] - full_df["rental_date"]).dt.days

In [460]:
grouped = (full_df.groupby(["store_id", "title"]).agg(max_rental_days=("rental_days", "max"))
.reset_index().sort_values("max_rental_days", ascending=False))

In [ ]:
top_result = grouped.head(1)
top_result

# Soru 64: En kısa süre kiralanan film hangi mağazada kiralanmış?

In [462]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [463]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT film_id, title FROM film", conn)

In [464]:
step1 = pd.merge(staff_df, store_df, on="store_id")
step2 = pd.merge(rental_df, step1, on="staff_id")
step3 = pd.merge(step2, inventory_df[["inventory_id", "film_id"]], on="inventory_id")
full_df = pd.merge(step3, film_df, on="film_id")

In [465]:
full_df["rental_date"] = pd.to_datetime(full_df["rental_date"])
full_df["return_date"] = pd.to_datetime(full_df["return_date"])
full_df = full_df[full_df["return_date"].notna()]

In [466]:
full_df["rental_days"] = (full_df["return_date"] - full_df["rental_date"]).dt.days

In [467]:
grouped = (full_df.groupby(["store_id", "title"]).agg(max_rental_days=("rental_days", "max"))
.reset_index().sort_values("max_rental_days", ascending=True))

In [ ]:
top_result = grouped.head(1)
top_result

# Soru 65: Her filmin ortalama kiralama süresi nedir?

In [469]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [470]:
film_df = pd.read_sql_query("SELECT film_id, title FROM film", conn)
inventory_df = pd.read_sql_query("SELECT inventory_id, film_id FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT inventory_id, rental_date, return_date FROM rental", conn)

In [471]:
step1 = pd.merge(inventory_df, film_df, on="film_id")
full_df = pd.merge(step1, rental_df, on="inventory_id")

In [472]:
full_df["rental_date"] = pd.to_datetime(full_df["rental_date"])
full_df["return_date"] = pd.to_datetime(full_df["return_date"])

In [473]:
full_df = full_df[full_df["return_date"].notna()]

In [474]:
full_df["rental_days"] = (full_df["return_date"] - full_df["rental_date"]).dt.days

In [475]:
result_df = (full_df.groupby("title").agg(avg_rental_days=("rental_days", "mean"))
.reset_index().sort_values("avg_rental_days", ascending=False))

In [476]:
result_df["avg_rental_days"] = result_df["avg_rental_days"].round(2)

In [ ]:
result_df

# Soru 66: Hangi filmler en çok kiralanan kategoride?

In [9]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [10]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT film_id, title FROM film", conn)
inventory_df = pd.read_sql_query("SELECT film_id, inventory_id FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT rental_id, inventory_id FROM rental", conn)

In [11]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")

In [12]:
result_df = (step4.groupby(["name", "title"]).agg(rental_count=("rental_id", "count"))
.reset_index().rename(columns={"name": "genre"}).sort_values("rental_count", ascending=False))

In [ ]:
result_df

# Soru 67: Hangi filmler en az kiralanan kategoride?

In [41]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [42]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT film_id, title FROM film", conn)
inventory_df = pd.read_sql_query("SELECT film_id, inventory_id FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT rental_id, inventory_id FROM rental", conn)

In [43]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")

In [44]:
result_df = (step4.groupby(["name", "title"]).agg(rental_count=("rental_id", "count"))
.reset_index().rename(columns={"name": "genre"}).sort_values("rental_count", ascending=True))

In [ ]:
result_df

# Soru 68: Hangi mağazalarda en çok film kiralanmış?

In [31]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [32]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [33]:
staff_store = pd.merge(staff_df[["staff_id", "store_id"]], rental_df[["rental_id", "staff_id"]], on="staff_id")

In [34]:
result_df = (staff_store.groupby("store_id").agg(rental_count=("rental_id", "count"))
.reset_index().sort_values("rental_count", ascending=False))

In [ ]:
result_df

# Soru 69: Hangi mağazalarda en az film kiralanmış?

In [46]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [47]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [48]:
staff_store = pd.merge(staff_df[["staff_id", "store_id"]], rental_df[["rental_id", "staff_id"]], on="staff_id")

In [49]:
result_df = (staff_store.groupby("store_id").agg(rental_count=("rental_id", "count")).reset_index().sort_values("rental_count", ascending=True))

In [ ]:
result_df

# Soru 70: Hangi aktörler en çok filmde rol almış?

In [51]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [52]:
actor_df = pd.read_sql_query("SELECT * FROM actor", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)

In [53]:
actor_films = pd.merge(actor_df, film_actor_df, on="actor_id")

In [54]:
result_df = (actor_films.groupby(["first_name", "last_name"]).agg(film_count=("film_id", "count"))
.reset_index().sort_values("film_count", ascending=False))

In [ ]:
result_df

# Soru 71: Hangi aktörler en az filmde rol almış?

In [61]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [62]:
actor_df = pd.read_sql_query("SELECT * FROM actor", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)

In [63]:
actor_films = pd.merge(actor_df, film_actor_df, on="actor_id")

In [64]:
result_df = (actor_films.groupby(["first_name", "last_name"]).agg(film_count=("film_id", "count"))
.reset_index().sort_values("film_count", ascending=True))

In [ ]:
result_df

# Soru 72: Hangi aktörlerin oynadığı filmler en çok kiralanmış?

In [69]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [70]:
actor_df = pd.read_sql_query("SELECT * FROM actor", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [71]:
actor_df = actor_df.drop(columns=["last_update"])
film_actor_df = film_actor_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [72]:
actor_film_df = pd.merge(actor_df, film_actor_df, on="actor_id")
actor_film_detail_df = pd.merge(actor_film_df, film_df, on="film_id")
film_inventory_df = pd.merge(actor_film_detail_df, inventory_df, on="film_id")
full_df = pd.merge(film_inventory_df, rental_df, on="inventory_id")

In [73]:
result_df = (full_df.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"))
.reset_index().sort_values("rental_count", ascending=False))

In [ ]:
result_df

# Soru 73: Hangi aktörlerin oynadığı filmler en az kiralanmış?

In [75]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [76]:
actor_df = pd.read_sql_query("SELECT * FROM actor", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [79]:
actor_df = actor_df.drop(columns=["last_update"])
film_actor_df = film_actor_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [80]:
actor_film_df = pd.merge(actor_df, film_actor_df, on="actor_id")
actor_film_detail_df = pd.merge(actor_film_df, film_df, on="film_id")
film_inventory_df = pd.merge(actor_film_detail_df, inventory_df, on="film_id")
full_df = pd.merge(film_inventory_df, rental_df, on="inventory_id")

In [81]:
result_df = (full_df.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"))
.reset_index().sort_values("rental_count", ascending=True))

In [ ]:
result_df

# Soru 74: Hangi kategorilerde en fazla aktör oynamış?

In [87]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [88]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)

In [89]:
category_df = category_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
film_actor_df = film_actor_df.drop(columns=["last_update"])

In [90]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, film_actor_df, on="film_id")

In [91]:
actor_count_by_genre = (step3.groupby("name")["actor_id"].nunique()
.reset_index(name="actor_count").sort_values("actor_count", ascending=False))

In [ ]:
actor_count_by_genre

# Soru 75: Hangi kategorilerde en az aktör oynamış?

In [93]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [94]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_actor_df = pd.read_sql_query("SELECT * FROM film_actor", conn)

In [95]:
category_df = category_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
film_actor_df = film_actor_df.drop(columns=["last_update"])

In [96]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, film_actor_df, on="film_id")

In [97]:
actor_count_by_genre = (step3.groupby("name")["actor_id"].nunique()
.reset_index(name="actor_count").sort_values("actor_count", ascending=True))

In [ ]:
actor_count_by_genre

# Soru 76: Hangi kategorilerde oynayan filmler en çok kiralanmış?

In [101]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [102]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [103]:
category_df = category_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [104]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
full_df = pd.merge(step3, rental_df, on="inventory_id")

In [106]:
rental_count_by_genre = (full_df.groupby("name")["rental_id"].count()
.reset_index(name="rental_count").sort_values("rental_count", ascending=False))

In [ ]:
rental_count_by_genre

# Soru 77: Hangi kategorilerde oynayan filmler en az kiralanmış?

In [108]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [109]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [110]:
category_df = category_df.drop(columns=["last_update"])
film_category_df = film_category_df.drop(columns=["last_update"])
film_df = film_df.drop(columns=["last_update"])
inventory_df = inventory_df.drop(columns=["last_update"])
rental_df = rental_df.drop(columns=["last_update"])

In [111]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
full_df = pd.merge(step3, rental_df, on="inventory_id")

In [112]:
rental_count_by_genre = (full_df.groupby("name")["rental_id"].count()
.reset_index(name="rental_count").sort_values("rental_count", ascending=True))

In [ ]:
rental_count_by_genre

# Soru 78: En fazla kazanç sağlayan kategoriler hangileri?

In [129]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [130]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [131]:
for df in [category_df, film_category_df, film_df, inventory_df, rental_df, payment_df]:
    df.drop(columns=["last_update"], inplace = True)

In [132]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")
full_df = pd.merge(step4, payment_df, on="rental_id")

In [133]:
revenue_by_genre = (full_df.groupby("name")["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=False))

In [ ]:
revenue_by_genre

# Soru 79: En az kazanç sağlayan kategoriler hangileri?

In [135]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [136]:
category_df = pd.read_sql_query("SELECT * FROM category", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [137]:
for df in [category_df, film_category_df, film_df, inventory_df, rental_df, payment_df]:
    df.drop(columns=["last_update"], inplace = True)

In [138]:
step1 = pd.merge(category_df, film_category_df, on="category_id")
step2 = pd.merge(step1, film_df, on="film_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")
full_df = pd.merge(step4, payment_df, on="rental_id")

In [139]:
revenue_by_genre = (full_df.groupby("name")["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=True))

In [ ]:
revenue_by_genre

# Soru 80: En çok film kiralayan müşterilerin ortalama ödeme miktarı nedir?

In [141]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [142]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [143]:
step1 = pd.merge(customer_df, rental_df, on="customer_id")
step2 = pd.merge(step1, payment_df, on="rental_id")

In [144]:
agg_df = step2.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"),avg_payment=("amount", "mean")).reset_index()

In [145]:
top10_customers = agg_df.sort_values("rental_count", ascending=False).head(10)

In [ ]:
top10_customers

# Soru 81: En az film kiralayan müşterilerin ortalama ödeme miktarı nedir?

In [147]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [148]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [149]:
step1 = pd.merge(customer_df, rental_df, on="customer_id")
step2 = pd.merge(step1, payment_df, on="rental_id")

In [150]:
agg_df = step2.groupby(["first_name", "last_name"]).agg(rental_count=("rental_id", "count"),avg_payment=("amount", "mean")).reset_index()

In [151]:
top10_customers = agg_df.sort_values("rental_count", ascending=True).head(10)

In [ ]:
top10_customers

# Soru 82: Hangi mağazalarda hangi kategoriler en çok kiralanmış?

In [162]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [163]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)

In [164]:
dfs = [store_df, staff_df, rental_df, inventory_df, film_df, film_category_df, category_df]
for i in range(len(dfs)):
    dfs[i] = dfs[i].drop(columns=["last_update"], errors="ignore")

In [165]:
store_df, staff_df, rental_df, inventory_df, film_df, film_category_df, category_df = dfs

In [170]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")
step3 = pd.merge(step2, inventory_df, on="inventory_id")
step4 = pd.merge(step3, film_df, on="film_id")
step5 = pd.merge(step4, film_category_df, on="film_id")
full_df = pd.merge(step5, category_df, on="category_id")

In [ ]:
print(full_df.columns)

In [172]:
rental_count_by_store_genre = (full_df.groupby(["store_id_x", "name"])["rental_id"].count()
.reset_index(name="rental_count").sort_values("rental_count", ascending=False))

In [ ]:
rental_count_by_store_genre

# Soru 83: Hangi mağazalarda hangi kategoriler en az kiralanmış?

In [175]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [176]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)

In [177]:
dfs = [store_df, staff_df, rental_df, inventory_df, film_df, film_category_df, category_df]
for i in range(len(dfs)):
    dfs[i] = dfs[i].drop(columns=["last_update"], errors="ignore")

In [178]:
store_df, staff_df, rental_df, inventory_df, film_df, film_category_df, category_df = dfs

In [179]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")
step3 = pd.merge(step2, inventory_df, on="inventory_id")
step4 = pd.merge(step3, film_df, on="film_id")
step5 = pd.merge(step4, film_category_df, on="film_id")
full_df = pd.merge(step5, category_df, on="category_id")

In [182]:
rental_count_by_store_genre = (full_df.groupby(["store_id_x", "name"])["rental_id"].count()
.reset_index(name="rental_count").sort_values("rental_count", ascending=True))

In [ ]:
rental_count_by_store_genre

# Soru 84: En fazla sayıda film kiralayan mağaza hangisidir ve toplam kiralama sayısı nedir?

In [185]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [186]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [187]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")

In [188]:
total_rentals = (step2.groupby("store_id")["rental_id"].count().reset_index(name="total_rentals")
.sort_values("total_rentals", ascending=False).head(1))

In [ ]:
total_rentals

# Soru 85: En az sayıda film kiralayan mağaza hangisidir ve toplam kiralama sayısı nedir?

In [190]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [191]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [192]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")

In [195]:
total_rentals = (step2.groupby("store_id")["rental_id"].count()
.reset_index(name="total_rentals").sort_values("total_rentals", ascending=True).head(1))

In [ ]:
total_rentals

# Soru 86: En fazla sayıda kiralama yapan müşteri hangisidir ve toplam kiralama sayısı nedir?

In [197]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [198]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [199]:
customer_rental = pd.merge(customer_df, rental_df, on="customer_id")

In [200]:
top_customer = (customer_rental.groupby(["first_name", "last_name"])["rental_id"].count()
.reset_index(name="total_rentals").sort_values("total_rentals", ascending=False).head(1))

In [ ]:
top_customer

# Soru 87: En az sayıda kiralama yapan müşteri hangisidir ve toplam kiralama sayısı nedir?

In [205]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [206]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [207]:
customer_rental = pd.merge(customer_df, rental_df, on="customer_id")

In [208]:
top_customer = (customer_rental.groupby(["first_name", "last_name"])["rental_id"].count()
.reset_index(name="total_rentals").sort_values("total_rentals", ascending=True).head(1))

In [ ]:
top_customer

# Soru 88: En fazla sayıda kiralanan film hangisidir ve toplam kiralama sayısı nedir?

In [210]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [211]:
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [212]:
film_inventory = pd.merge(film_df, inventory_df, on="film_id")
film_rental = pd.merge(film_inventory, rental_df, on="inventory_id")

In [213]:
top_film = (film_rental.groupby("title")["rental_id"].count()
.reset_index(name="total_rentals").sort_values("total_rentals", ascending=False).head(1))

In [ ]:
top_film

# Soru 89: En az sayıda kiralanan film hangisidir ve toplam kiralama sayısı nedir?

In [215]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [216]:
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [217]:
film_inventory = pd.merge(film_df, inventory_df, on="film_id")
film_rental = pd.merge(film_inventory, rental_df, on="inventory_id")

In [220]:
top_film = (film_rental.groupby("title")["rental_id"].count()
.reset_index(name="total_rentals").sort_values("total_rentals", ascending=True).head(1))

In [ ]:
top_film

# Soru 90: En fazla kazanç sağlayan müşteri hangisidir ve toplam kazancı nedir?

In [27]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [28]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [29]:
rental_payment = pd.merge(rental_df, payment_df, on="rental_id")
full_df = pd.merge(rental_payment, customer_df, left_on="customer_id_x", right_on="customer_id")

In [30]:
top_customer = (full_df.groupby(["first_name", "last_name"])["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=False).head(1))

In [ ]:
top_customer

# Soru 91: En az kazanç sağlayan müşteri hangisidir ve toplam kazancı nedir?

In [32]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [33]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [34]:
rental_payment = pd.merge(rental_df, payment_df, on="rental_id")
full_df = pd.merge(rental_payment, customer_df, left_on="customer_id_x", right_on="customer_id")

In [35]:
top_customer = (full_df.groupby(["first_name", "last_name"])["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=True).head(1))

In [ ]:
top_customer

# Soru 92: Hangi film, hangi kategoride en çok kazanç sağlamış?

In [37]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [38]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [40]:
film_df.drop(columns="last_update", inplace=True)
film_category_df.drop(columns="last_update", inplace=True)
category_df.drop(columns="last_update", inplace=True)
inventory_df.drop(columns="last_update", inplace=True)
rental_df.drop(columns="last_update", inplace=True)
payment_df.drop(columns="last_update", inplace=True)

In [41]:
step1 = pd.merge(film_df, film_category_df, on="film_id")
step2 = pd.merge(step1, category_df, on="category_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")
full_df = pd.merge(step4, payment_df, on="rental_id")

In [44]:
result = (full_df.groupby(["title", "name"])["amount"].sum().reset_index()
.rename(columns={"name": "genre", "amount": "total_revenue"})
.sort_values(by="total_revenue", ascending=False).head(1))

In [ ]:
result

# Soru 93: Hangi film, hangi kategoride en az kazanç sağlamış?

In [46]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [47]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [48]:
film_df.drop(columns="last_update", inplace=True)
film_category_df.drop(columns="last_update", inplace=True)
category_df.drop(columns="last_update", inplace=True)
inventory_df.drop(columns="last_update", inplace=True)
rental_df.drop(columns="last_update", inplace=True)
payment_df.drop(columns="last_update", inplace=True)

In [49]:
step1 = pd.merge(film_df, film_category_df, on="film_id")
step2 = pd.merge(step1, category_df, on="category_id")
step3 = pd.merge(step2, inventory_df, on="film_id")
step4 = pd.merge(step3, rental_df, on="inventory_id")
full_df = pd.merge(step4, payment_df, on="rental_id")

In [50]:
result = (full_df.groupby(["title", "name"])["amount"].sum().reset_index()
.rename(columns={"name": "genre", "amount": "total_revenue"})
.sort_values(by="total_revenue", ascending=True).head(1))

In [ ]:
result

# Soru 94: En fazla kazanç sağlayan mağaza hangisidir ve toplam kazancı nedir?

In [52]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [53]:
store_df = pd.read_sql_query("SELECT store_id FROM store", conn)
staff_df = pd.read_sql_query("SELECT staff_id, store_id FROM staff", conn)
rental_df = pd.read_sql_query("SELECT rental_id, staff_id FROM rental", conn)
payment_df = pd.read_sql_query("SELECT rental_id, amount FROM payment", conn)

In [54]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")
step3 = pd.merge(step2, payment_df, on="rental_id")

In [55]:
result_df = (step3.groupby("store_id")["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=False).head(1))

In [ ]:
result_df

# Soru 95: En az kazanç sağlayan mağaza hangisidir ve toplam kazancı nedir?

In [57]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [58]:
store_df = pd.read_sql_query("SELECT store_id FROM store", conn)
staff_df = pd.read_sql_query("SELECT staff_id, store_id FROM staff", conn)
rental_df = pd.read_sql_query("SELECT rental_id, staff_id FROM rental", conn)
payment_df = pd.read_sql_query("SELECT rental_id, amount FROM payment", conn)

In [59]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")
step3 = pd.merge(step2, payment_df, on="rental_id")

In [60]:
result_df = (step3.groupby("store_id")["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=True).head(1))

In [ ]:
result_df

# Soru 96: En fazla sayıda farklı film kiralayan müşteri hangisidir?

In [64]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [65]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [66]:
merged_df = pd.merge(customer_df, rental_df, on="customer_id")

In [69]:
result_df = (merged_df.groupby(["first_name", "last_name"])["inventory_id"].nunique()
.reset_index(name="unique_rentals").sort_values("unique_rentals", ascending=False).head(1))

In [ ]:
result_df

# Soru 97: En az sayıda farklı film kiralayan müşteri hangisidir?

In [62]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [63]:
customer_df = pd.read_sql_query("SELECT * FROM customer", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [ ]:
merged_df = pd.merge(customer_df, rental_df, on="customer_id")

In [71]:
result_df = (merged_df.groupby(["first_name", "last_name"])["inventory_id"].nunique()
.reset_index(name="unique_rentals").sort_values("unique_rentals", ascending=True).head(1))

In [ ]:
result_df

# Soru 98: En fazla sayıda farklı müşteri tarafından kiralanan film hangisidir?

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [73]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [74]:
step1 = pd.merge(inventory_df, rental_df, on="inventory_id")
step2 = pd.merge(step1, film_df, on="film_id")

In [75]:
result_df = (step2.groupby("title")["customer_id"].nunique().reset_index(name="unique_customers")
.sort_values("unique_customers", ascending=False).head(1))

In [ ]:
result_df

# Soru 99: En az sayıda farklı müşteri tarafından kiralanan film hangisidir?

In [77]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [78]:
film_df = pd.read_sql_query("SELECT * FROM film", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)

In [79]:
step1 = pd.merge(inventory_df, rental_df, on="inventory_id")
step2 = pd.merge(step1, film_df, on="film_id")

In [82]:
result_df = (step2.groupby("title")["customer_id"].nunique().reset_index(name="unique_customers")
.sort_values("unique_customers", ascending=True).head(1))

In [ ]:
result_df

# Soru 100: Hangi mağazada, hangi kategoride en fazla kazanç sağlanmış?

In [90]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("sqlite-sakila.db")

In [91]:
store_df = pd.read_sql_query("SELECT * FROM store", conn)
staff_df = pd.read_sql_query("SELECT * FROM staff", conn)
rental_df = pd.read_sql_query("SELECT * FROM rental", conn)
inventory_df = pd.read_sql_query("SELECT * FROM inventory", conn)
film_df = pd.read_sql_query("SELECT * FROM film", conn)
film_category_df = pd.read_sql_query("SELECT * FROM film_category", conn)
category_df = pd.read_sql_query("SELECT * FROM category", conn)
payment_df = pd.read_sql_query("SELECT * FROM payment", conn)

In [92]:
store_df.drop(columns="last_update", inplace=True)
staff_df.drop(columns="last_update", inplace=True)
rental_df.drop(columns="last_update", inplace=True)
inventory_df.drop(columns="last_update", inplace=True)
film_df.drop(columns="last_update", inplace=True)
film_category_df.drop(columns="last_update", inplace=True)
category_df.drop(columns="last_update", inplace=True)
payment_df.drop(columns="last_update", inplace=True)

In [98]:
step1 = pd.merge(store_df, staff_df, on="store_id")
step2 = pd.merge(step1, rental_df, on="staff_id")
step3 = pd.merge(step2, inventory_df, on="inventory_id")
step4 = pd.merge(step3, film_df, on="film_id")
step5 = pd.merge(step4, film_category_df, on="film_id")
step6 = pd.merge(step5, category_df, on="category_id")
full_df = pd.merge(step6, payment_df, on="rental_id")

In [106]:
full_df = full_df.rename(columns={"store_id_x": "store_id"})
full_df = full_df.rename(columns={"name": "genre"})

In [ ]:
print(full_df.columns)

In [108]:
result_df = (full_df.groupby(["store_id", "genre"])["amount"].sum()
.reset_index(name="total_revenue").sort_values("total_revenue", ascending=False).head(1))

In [ ]:
result_df